
{% macro score(note) %}
<span>{{  note.goalsHome }} : {{  note.goalsGuest }}</span>
{% endmacro %}

{% macro result(match) %}
  {% if match.status == '-10' %}
    {{ 'label_matchstatus_postponed'|t3trans }}
  {% elseif match.status == '1' %}
    {{ match.goalsHome }}:{{ match.goalsGuest }}
  {% elseif match.status == '2' %}
    {{ _self._result_final(match) }}
  {% else %}
    -:-
  {% endif %}
{% endmacro %}

{% macro _result_final(match) %}
  {{ match.goalsHome }}:{{ match.goalsGuest }}
  {% if match.is_extratime %}
    {% set extra = 'label_afterextratime_short'|t3trans %}
    {% set extra_long = 'label_afterextratime'|t3trans %}
  {% endif %}
  {% if match.is_penalty %}
    {% set extra = extra ~ 'label_onpenalty_short'|t3trans %}
    {% set extra_long = extra_long ~ ' ' ~ 'label_onpenalty'|t3trans %}
  {% endif %}
  {% if extra %}
  <span title="{{extra_long}}">{{ extra|raw }}</span>
  {% endif %}
{% endmacro %}

{% macro mn_message(note) %}
  {% if note.type == 10 %}
  Tor durch {{ _self.profile_name(note.player) }}
  {% endif %}
{% endmacro %}

{% macro lineup_player(player) %}
    {% import '@EXT:cfc_league_fe/macros/profile.html.twig' as prm %}
    {% set name = player.uniqueName ? prm.name_short(player.profile)|spaceless : prm.name_medium(player.profile)|spaceless %}
    {% if player.isCaptain %}
      <strong>{{ name }} (C)</strong>
    {% else %}
      {{ name }}
    {% endif %}
    {{ _self.lineup_card(player) }}
{% endmacro %}

{#
render cards of player in lineup
#}
{% macro lineup_card(player) %}
	{% if player.cardYellowRed %}
<i class="glyphicon glyphicon-t3sports-card-yellowred"></i>
	{% elseif player.cardYellow %}
<i class="glyphicon glyphicon-t3sports-card-yellow"></i>
	{% endif %}
	{% if player.cardRed %}
<i class="glyphicon glyphicon-t3sports-card-red"></i>
	{% endif %}
{% endmacro %}

{% macro lineup_changes(player) %}
  {% set notes = player.changedout %}
  {% if notes %}
  	{% set changes = '' %}
    {% for note in notes %}
			{% set changes = note.minute ~ '. ' ~ _self.lineup_player(note.player2)|spaceless %}
	    {% if note.player2.changedout %}
	    	{% set changes = changes ~ ', ' ~ _self.lineup_changes(note.player2)|spaceless %}
	    {% endif %}
    {% endfor %}
   {{ changes|raw }}
  {% endif %}
{% endmacro %}

{#
render lineup of players
#}
{% macro lineup(lineup) %}
  {% if lineup %}
    {% for line in lineup %}
      {% for player in line %}
	      {% set changes = _self.lineup_changes(player)|spaceless %}
	      {% set changes = changes ? (' ('~changes~')') : '' %}
        <span>{{ _self.lineup_player(player)|spaceless|raw }}{{ changes|raw }}{{ loop.last ? '' : ', ' }}</span>
      {% endfor %}
      {{ loop.last ? '' : ' - ' }}
    {% endfor %}
  {% else %}
  Unbekannt
  {% endif %}
{% endmacro %}

{#
render list of substitutes
#}
{% macro substitutes(players) %}
  {% if players %}
      {% for player in players %}
        <span>{{ _self.lineup_player(player)|spaceless }}{{ loop.last ? '' : ', ' }}</span>
      {% endfor %}
  {% else %}
  Unbekannt
  {% endif %}
{% endmacro %}

{% macro coach(profile) %}
  {% import '@EXT:cfc_league_fe/macros/profile.html.twig' as prm %}
  {% if profile %}
  {{ prm.name_medium(profile)|spaceless }} [{{ profile.uid }}]
  {% else %}
  Unbekannt
  {% endif %}
{% endmacro %}

{% macro scorer(notes, home, alternativ = '') %}
  {% import '@EXT:cfc_league_fe/macros/profile.html.twig' as prm %}
  {% set goals = '' %}
  {% for note in notes %}
  	{% if note.isGoal and (home ? note.isHome() : note.isGuest()) %}
	  	{% set goals = goals ~ '<li>' ~ _self.score(note) ~ prm.name_full(note.player.profile)|spaceless ~ ' (' ~ note.minute~'.) ' ~ '</li>' %}
	  {% endif %}
  {% endfor %}

  {% if goals %}
  <ul>
  {{ goals|raw }}
  </ul>
  {% else %}
  {{ alternativ|raw }}
  {% endif %}
{% endmacro %}


{# Output complete timeline of matchnotes #}
{% macro timeline(notes) %}
{% for note in notes %}
	{% if note.minute >= 0 %}
<div class="list-group">
  <a href="#" class="list-group-item">
  	{{ _self.timeline_headline(note) }}
  	{% set msg = _self.timeline_message(note) %}
  	{% if msg %}
    <p class="list-group-item-text">{{ msg }}</p>
    {% endif %}
  </a>
</div>
	{% endif %}
{% endfor %}
{% endmacro %}

{% macro timeline_headline(note) %}
<h4 class="list-group-item-heading"><span class="badge">{{ note.minute }}. min</span> Spielstand {{ _self.score(note) }}</h4>
{% endmacro %}

{% macro icon(note) %}
  {% if note.type in([10,11,12,30])  %}
<i class="glyphicon glyphicon-t3sports-goal"></i>
  {% elseif note.type == 70 %}
<i class="glyphicon glyphicon-t3sports-card-yellow"></i>
  {% elseif note.type == 71 %}
<i class="glyphicon glyphicon-t3sports-card-yellowred"></i>
  {% elseif note.type == 72 %}
<i class="glyphicon glyphicon-t3sports-card-red"></i>
  {% endif %}

{% endmacro %}

{% macro timeline_message(note) %}
  {% import '@EXT:cfc_league_fe/macros/profile.html.twig' as prm %}
  {% set label = ('label_matchnote_'~note.type)|t3trans %}
  {% if label %}
      {{ _self.icon(note) }}
      {% if note.player2 %}
      {{ ('label_matchnote_'~note.type)|t3trans({'%player%':prm.name_full(note.player.profile)|spaceless, '%player2%' : prm.name_full(note.player2.profile)|spaceless} ) }}
      {% else %}
      {{ ('label_matchnote_'~note.type)|t3trans({'%player%':prm.name_full(note.player.profile)|spaceless}) }}
      {% endif %}
  {% endif %}

  {% if note.comment %}
  <p class="list-group-item-text">{{ note.comment }}</p>
	{% endif %}
{% endmacro %}
